# Python Programming Assignment 4

#### Q1. Write a Python Program to Find the Factorial of a Number?

In [3]:
def factorial(x):
    try:
        x = int(x)
        if x<=0:
            print("Enter a number greater than 0")
            return None
        fact = 1
        for i in range(2,x+1):
            fact = fact*i
        return fact
    except ValueError:
        print("Enter a valid number")
    

a = input("Enter the number: ")
factorial(a)

Enter the number: 5

120

#### Q2. Write a Python Program to Display the multiplication Table?

In [18]:
def mult_table(n):
    for i in range(1,11):
        print("{0} * {1} = {2}".format(i,n, n*i))
    
mult_table(15)

1 * 15 = 15
2 * 15 = 30
3 * 15 = 45
4 * 15 = 60
5 * 15 = 75
6 * 15 = 90
7 * 15 = 105
8 * 15 = 120
9 * 15 = 135
10 * 15 = 150

#### Q3. Write a Python Program to Print the Fibonacci sequence?

In [15]:
## printing fibonacci series upto given number
def fibonacci(n):
    try:
        b=1
        c=0
        a=0
        while c<=n:
            print(c, end = " ")
            a=b
            b=c
            c=a+b
    except ValueError:
        print('enter valid number')

fibonacci(200)

0 1 1 2 3 5 8 13 21 34 55 89 144

#### Q4. Write a Python Program to Check Armstrong Number?

In [9]:
def is_armstrong(x):
    try:
        l = len(str(x))
        x1 = int(x)
        s = 0
        for y in x:
            s+=pow(int(y),l)

        if s==x1:
            return True
        else:
            return False
    except ValueError:
        print("Enter a valid number")
    

a = input("Enter the number: ")
is_armstrong(a)

Enter the number: 134

False

#### Q5. Write a Python Program to Find Armstrong Number in an Interval?

In [14]:
def is_armstrong_range(start,end):
    if int(start)>int(end) or int(start)<1 :
        print("Enter valid range")
        return None
    li = []
    try:
        for i in range(int(start),int(end)):
            if is_armstrong(str(i)):
                li.append(i)
        return li
    except ValueError:
        print("Enter a valid number")

start = input("Enter start")
end = input("Enter end")
print(is_armstrong_range(start,end))

Enter start1
Enter end1000
[1, 2, 3, 4, 5, 6, 7, 8, 9, 153, 370, 371, 407]

#### Q6. Write a Python Program to Find the Sum of Natural Numbers?

In [16]:
def sumn(n):
    try:
        n = int(n)
        return n*(n+1)/2
    except ValueError:
        print('enter valid number')

sumn(100)

5050.0